#octocat {
    width: 60PX;
}

.bg-light {
    background-color: #00000000!important;
}

.jumbotron {
    background: rgba(160, 165, 170, 0.301);
}

.input-group-text {
    color: #49505785;
    background-color: #e9ecef00;
    padding: .375rem .75rem;
}

.form-control {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.432);
}